<a href="https://colab.research.google.com/github/yongj01/HHA-507-Assignment-ANOVAs/blob/main/HHA_507_Assignment_ANOVAs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
from scipy.stats import kurtosis, skew, bartlett

In [ ]:
covid19 = pd.read_csv('https://healthdata.gov/resource/g62h-syeh.csv')

covid19_small = covid19.sample(100)

In [ ]:
covid19_small

In [ ]:
list(covid19_small)

## 1 factor of STATE we have 54 levels

In [ ]:
covid19_small.state.value_counts()
len(covid19_small['state'].value_counts())

# 1 factor of DATE we have 83 levels

In [ ]:
covid19_small.date.value_counts()
len(covid19_small.date.value_counts())

# 1 factor of critical_staffing_shortage_today_yes we have 25 levels

In [ ]:
covid19_small.critical_staffing_shortage_today_yes.value_counts()
len(covid19_small.critical_staffing_shortage_today_yes.value_counts())

22

1 way anova 
1 Dependent Variable - deaths_covid
1 Independent Variable - state

In [ ]:
df1 = covid19_small [['state', 'date','critical_staffing_shortage_today_yes'] ]
df1

Is there a difference between the state
and COVID deaths?

In [ ]:
model1 = smf.ols("deaths_covid ~ C(state)", data = covid19_small).fit()
stats.shapiro(model1.resid)

(0.1737247109413147, 5.821373225927863e-21)

In [ ]:
sm.stats.anova_lm(model1)

            df        sum_sq       mean_sq         F    PR(>F)
C(state)  44.0  2.402374e+06  54599.399923  1.241071  0.223643
Residual  54.0  2.375664e+06  43993.773148       NaN       NaN

TUKEY TEST

In [ ]:
import statsmodels.stats.multicomp as mc
comp = mc.MultiComparison(df['dataColumn'], df['categoryColumn'])
post_hoc_res = comp.tukeyhsd()
post_hoc_res.summary()

Is there a difference between the DATE
and COVID deaths?

In [ ]:
model2 = smf.ols("deaths_covid ~ C(date)", data = covid19_small).fit()
stats.shapiro(model2.resid)

(0.16690093278884888, 4.901817783923473e-21)

In [ ]:
sm.stats.anova_lm(model2)

            df        sum_sq        mean_sq         F    PR(>F)
C(date)   81.0  2.488129e+06   30717.643768  0.218111  0.999999
Residual  17.0  2.394198e+06  140835.161765       NaN       NaN

TUKEY TEST

In [ ]:
import statsmodels.stats.multicomp as mc
comp = mc.MultiComparison(df['dataColumn'], df['categoryColumn'])
post_hoc_res = comp.tukeyhsd()
post_hoc_res.summary()

Is there a difference between staffing shortages
and COVID deaths?

In [ ]:
model3 = smf.ols("deaths_covid ~ C(critical_staffing_shortage_today_yes)", data = covid19_small).fit()
stats.shapiro(model3.resid)

(0.17682123184204102, 6.296006472574593e-21)

In [ ]:
sm.stats.anova_lm(model3)

                                           df        sum_sq  ...        F  PR(>F)
C(critical_staffing_shortage_today_yes)  21.0  9.781854e+04  ...  0.07564     1.0
Residual                                 76.0  4.680208e+06  ...      NaN     NaN

[2 rows x 5 columns]